{% extends 'base.html.twig' %}

{% block title %}CompetitionMatch index{% endblock %}

{% block body %}
    <h1>Matchday</h1>

<table class="table" id="competition_matches_table">
    <thead>
    <tr>
        <th>Match ID</th>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Score</th>
    </tr>
    </thead>

    <tbody id="matches">

    {% if homeTeams|length > 0 %}
        {% for i in first_unplayed_match..first_unplayed_match+6 %}

            {% if played[i] > 0 and i < played|length - 1 and i > 0 %}
            <tr id="tableRow">

                {% set homeTeam = homeTeams[i] %}
                {% set awayTeam = awayTeams[i] %}
                {% set homeTeamsGoalsVar = homeTeamsGoals[i] %}
                {% set awayTeamsGoalsVar = awayTeamsGoals[i] %}
                <td>{{ ids[i] }}</td>
                <td>{{ homeTeam }} </td>
                <td>{{ awayTeam }}</td>
                <td>{{ homeTeamsGoalsVar }} - {{  awayTeamsGoalsVar }}</td>
                <td>FIRST UNPLAYED MATCH POS = {{ first_unplayed_match }}</td>
                {#            <td>{{ date }}</td>#}

            </tr>
            {% endif %}
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>
    {% endif %}


    </tbody>


    {% endblock %}
